
@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div dir="rtl">
    <ul class="flex flex-col space-y-2">
        <li>
            <a class="block py-2 px-4 text-gray-700 hover:bg-indigo-100 hover:text-indigo-600 rounded-md transition duration-200 animate-fade-in @ManageNavPages.IndexNavClass(ViewContext)"
               id="profile" asp-page="./Index">الملف الشخصي</a>
        </li>
        <li>
            <a class="block py-2 px-4 text-gray-700 hover:bg-indigo-100 hover:text-indigo-600 rounded-md transition duration-200 animate-fade-in @ManageNavPages.EmailNavClass(ViewContext)"
               id="email" asp-page="./Email">البريد الإلكتروني</a>
        </li>
        <li>
            <a class="block py-2 px-4 text-gray-700 hover:bg-indigo-100 hover:text-indigo-600 rounded-md transition duration-200 animate-fade-in @ManageNavPages.ChangePasswordNavClass(ViewContext)"
               id="change-password" asp-page="./ChangePassword">كلمة المرور</a>
        </li>
        @if (hasExternalLogins)
        {
            <li>
                <a class="block py-2 px-4 text-gray-700 hover:bg-indigo-100 hover:text-indigo-600 rounded-md transition duration-200 animate-fade-in @ManageNavPages.ExternalLoginsNavClass(ViewContext)"
                   id="external-login" asp-page="./ExternalLogins">تسجيلات الدخول الخارجية</a>
            </li>
        }
        <li>
            <a class="block py-2 px-4 text-gray-700 hover:bg-indigo-100 hover:text-indigo-600 rounded-md transition duration-200 animate-fade-in @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"
               id="two-factor" asp-page="./TwoFactorAuthentication">المصادقة الثنائية</a>
        </li>
        <li>
            <a class="block py-2 px-4 text-gray-700 hover:bg-indigo-100 hover:text-indigo-600 rounded-md transition duration-200 animate-fade-in @ManageNavPages.PersonalDataNavClass(ViewContext)"
               id="personal-data" asp-page="./PersonalData">البيانات الشخصية</a>
        </li>
    </ul>
</div>